*{
  font-family:Microsoft YaHei,"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
html,body{
     margin: 0; padding: 0;
     height: 100%; min-height: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
}
#one{
  position: absolute; top: 0px; left: 0px;
  width: 100%; height: 100%;
  background-color: black;
  padding:20px;
}
#mail{
  font-size: 85px;
}
#one h1{
  font-size : 63px;
  align-content: center;
}
.right{
  margin-left:auto;
  right:10px; bottom:0;
  left:auto; top:0;
  float:left;
}
ul {
  list-style-type: none;
}
#arrow-bottom{
  font-size: 30px;
}
#arrow-right{
  font-size: 30px;
}
#arrow-bottom{
  font-size: 30px;
}
#three:after{
  content: "\f004"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 400px;
  transition: color 3s ease;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 0;
}

.site-header-brand{
  font-size: 38px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 0;
  top: 0px;
  transition: font-size 0.5s ease;
  position:absolute;
  float: right;
}
.bottom{
  float: left;
  top: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
.site-header-brand:hover{
  font-size: 43px;
  transition: font-size 0.5s ease;
}
.hvr-grow {     
  display: inline-block;
    vertical-align: middle;
    font-size:20px;
    transition: font-size 0.5s ease;
}
.hvr-grow:hover{
  font-size:25px;
  transition: font-size 0.5s ease;
}
#two {
    position: absolute;
    top: 0px; width: 100%; height: 100%;
  background-color: white;
  color: black;
}
#four {
    position: absolute;
    width: 100%; height: 100%;
    background-color: black;
    left: 0px;
    top: 0px;
}
#three {
  position: absolute; left: 0px;
  width: 100%; height: 100%;
  background-color: white;
  color: black;
}
.heartbeat{
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 30px;
  color: black;
  transition: color 3s ease;
}
.heartbeat.beating{
  color: red;
  transition: color 3s ease;
}
#three.beating{
  color:red !important;
  transition: color 3s ease !important;
}
#kermit {
  position: absolute;
      top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a {
    background-color: transparent;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: black;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  vertical-align: middle;
  display: table-cell;
}
.cover-container {
  vertical-align: middle;
  display: table-cell;

}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* MOBILE */
@media (min-width: 992px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
@media only screen and (max-width: 992px) {

   .site-header-brand { 
    font-size: 20px; 
    position: relative;
    float: none;
  }
  .site-header-brand:hover{
    font-size: 23px;
    transition: font-size 0.5s ease;
  }
   .site-wrapper-inner {
    position: relative;
    display: block;
  }
   .right{
    right: auto;
   }
  .hvr-grow {     
      font-size:16px;
      transition: font-size 0.5s ease;
  }
  .hvr-grow:hover{
    font-size:20px;
    transition: font-size 0.5s ease;
  }
  #one h1{
    font-size : 40px;
  }
}