<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Daniel Mateus Pires CV">
    <meta name="author" content="Daniel Mateus Pires">
    <link rel="icon" href="/favicon.ico">

    <title>Daniel Mateus Pires</title>

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link src="./assets/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/css/cover.css" rel="stylesheet">

    <!-- Font awesome -->
	<script src="https://use.fontawesome.com/826ae4b499.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="app">

    <div id="one" class="site-wrapper">
        <div id="formSuccess" class="alert alert-success alert-dismissable collapse">
          <a href="#" class="close" onclick="$('#formSuccess').hide()" aria-label="close">×</a>
          <strong>Success!</strong> Message sent
        </div>
		<a class="site-header-brand" href="http://www.github.com/dmateusp" title="dmateusp">
            <i class="fa fa-github" aria-hidden="true"></i> dmateusp
        </a>
        <a class="site-header-brand right" href="https://ie.linkedin.com/in/daniel-mateus-pires" title="dmateusp">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i> daniel-mateus-pires
        </a>
        <div class="site-wrapper-inner">
	        <h1>
	        Daniel Mateus Pires
	        </h1>
            <div id="jumbotron-meta-info">
                <span class="meta-info hvr-grow">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="https://www.google.ie/maps/place/Smithfield,+Dublin/@53.3484212,-6.2804037,17z/data=!3m1!4b1!4m5!3m4!1s0x48670c2eeb812c39:0xc32fd3ac3a491d53!8m2!3d53.348418!4d-6.2782097">Dublin, Ireland</a>
                </span>
                <span class="meta-info hvr-grow" style="margin-left: 10px;">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <a href="http://www.it-tallaght.ie/">Computer Science student</a>
                </span>
             
            </div>
            <ul>
                <li style="display: inline"><div class="meta-info hvr-grow" style="padding-top: 50px;">
                    <a href="#myModal" data-toggle="modal"><i id="mail" class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <h4>Contact</h4>
                </div>
                </li>
                <li style="display: inline;">
                <div class="meta-info hvr-grow" style="padding-top: 50px;">
                    <a id="skills" data-toggle="modal" href="#modal"><i id="magic" class="fa fa-magic" aria-hidden="true"></i></a>
                    <h4>Skills</h4>
                </div>
                </li>
                <li style="display: inline;">
                <div class="meta-info hvr-grow" style="padding-top: 50px;">
                    <a id="skills" data-toggle="modal" href="#creditsModal"><i id="credits" class="fa fa-info" aria-hidden="true"></i></a>
                    <h6>Credits</h6>
                </div>
                </li>
            </ul>

        </div>

        <ul id="arrow-right" class="site-header-brand right arrows" style="top:50%;  margin:auto;">

            <li>(exp/studies) - <i class="fa fa-arrow-circle-right clickable" aria-hidden="true" onclick="goRight()"></i></li>
        </ul>
        <ul id="arrow-bottom" class="site-header-brand bottom arrows">

            <li><a class="fa fa-arrow-circle-down clickable" aria-hidden="true" onclick="goBottom()"></a> - (events)</li>
        </ul>


     </div>

    </div>
    <div class="site-wrapper" id="two">
        <ul id="arrow-left" class="site-header-brand bottom">

            <li><a class="fa fa-arrow-circle-left clickable" aria-hidden="true" onclick="goLeft()"></a></li>
        </ul>
        <div class="symbolic">
            <i class="fa fa-male" aria-hidden="true"></i> + <i class="fa fa-briefcase" aria-hidden="true"></i> + <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                <li>
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="./images/IBM.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>IBM Student</h4>
                      <p>
                      </p>
                      <h4 class="subheading">Bachelors (Hons) project - <i>(2016 - today)</i></h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        Building tools that use the GitHub API to pull issues/commits information, parse data and improve usability
                      </p>
                    <bold>
                        Python, Django, Docker, NoSQL
                      </bold>
                    </div>
                  </div>
                  <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="./images/ITT.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>Bachelor (Hons) in Computer Science</h4>
                      <h4 class="subheading">Institute of Technology Tallaght <i>(2016-today)</i></h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        4th and last year of the degree, graduating May 2017
                      </p>
                      <bold>
                        C#, ASP.NET, Bash
                      </bold>
                    </div>
                  </div>
                  <div class="line"></div>
                </li>
                <li>
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="./images/SureDatum.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>Developer</h4>
                      <h4 class="subheading">Suredatum <i>(March - September 2016)</i></h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        Creating scalable tools to process / visualize and make sense of Software Asset Management data
                      </p>
                      <bold>
                        Scala, AngularJS, PlayFramework, NoSQL
                      </bold>
                    </div>
                  </div>
                  <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="./images/ITT.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>Erasmus exchange student, Bachelor in Computer Science</h4>
                      <h4 class="subheading">Institute of Technology Tallaght <i>(2015-2016)</i></h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        3rd year of the course as an exchange student from my home University: <i>Mont-Blanc, France</i>
                      </p>
                      <p>
                        I validated my year with distinctions
                      </p>
                      <bold>
                        C++, AngularJS, SQL
                      </bold>
                    </div>
                  </div>
                  <div class="line"></div>
                </li>
                <li>
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="./images/CoderDojo.png" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>CoderDojo Mentor</h4>
                      <h4 class="subheading">ITT Dojo <i>(2015 - today)</i></h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        Mentoring at CoderDojo, helping in JavaScript and Scratch classes in 2015 and got my own Python class in 2016
                      </p>
                    </div>
                    <bold>
                        JavaScript, Scratch, Python
                    </bold>
                  </div>
                  <div class="line"></div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="./images/IUT.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>Student, DUT Informatique (Computer science)</h4>
                      <h4 class="subheading">University Savoie Mont-Blanc <i>(2013-2015)</i></h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        My 2 first years of college, my specialisation in second year was "long studies" with Image processing, more Software development and Mobile
                      </p>
                      <bold>
                        C, C#, Java, Android, Matlab, JavaScript, PHP, Bash, SQL
                      </bold>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

    </div>
	<div class="site-wrapper" id="three">
    <ul id="arrow-up" class="site-header-brand bottom">

        <li><a class="fa fa-arrow-circle-up clickable" aria-hidden="true" onclick="goTop()"></a></li>
    </ul>
    <div class="symbolic">
        <i class="fa fa-male" aria-hidden="true"></i> + <i class="fa fa-laptop" aria-hidden="true"></i> + <i class="fa fa-comments-o" aria-hidden="true"></i>
    </div class="symbolic">

    <!-- Events -->
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" ng-controller="eventsCtrl">
        <ul class="event-list">
            <li ng-repeat="event in events">
                <time>
                  <span class="day">{{event.day}}</span>
                  <span class="month">{{event.month}}</span>
                  <span class="year">{{event.year}}</span>
                  <span class="time">{{event.time}}</span>
                </time>
                <img alt="{{event.img.alt}}" src="{{event.img.src}}" />
                <div class="info">
                    <h2 class="title">{{event.title}}</h2>
                    <p class="desc">{{event.desc}}</p>
                </div>
                <div class="social">
                    <ul>
                        <li class="meetup" style="width:33%;"><a href="{{event.link.href}}"><span class="fa fa-{{event.link.type}}"></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
  </div>

  <!-- Modals -->
  <!-- Skills -->
  <div id="modal" class="modal mymodals">
      <div class="modal-header"><h1>Skills</h1></div>
      <div class="modal-content" ng-controller="skillsCtrl">
        <div ng-repeat="skill in skills">
          <br/>
          {{skill.name}}
          <br/>
          <div class="progress">

            <div class="progress-bar progress-bar-{{skill.progress.type}}" role="progressbar" aria-valuenow="{{skill.progress.width}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.progress.width}}%;">
              <span class="sr-only">{{skill.progress.desc}}</span>
              {{skill.progress.desc}}
            </div>
          </div>       
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <!-- Credits -->
  <div id="creditsModal" class="modal mymodals">
      <div class="modal-header"><h1>Credits</h1></div>
      <div class="modal-content" ng-controller="skillsCtrl">
        <h4>This website was made using:</h4>
        <ul class="credits">
          <li>Bootstrap</li>
          <li>This <a href="http://getbootstrap.com/examples/cover/">starter</a> available on Bootstrap (was only used on first page and only the structure was kept)</li>
          <li>JQuery</li>
          <li>AngularJS (the content in Skills and Events is generated from JSON data)</li>
          <li>This bootstrap <a href="http://bootsnipp.com/snippets/featured/zigzag-timeline-layout">snippet</a> structure for the timeline (responsiveness had to be implemented)</li>
          <li>This bootstrap <a href="http://bootsnipp.com/snippets/featured/event-list">snippet</a> for the events, I adapted it to be generated using AngularJS instead of being static</li>
          <li>The navigation is done using native JQuery features</li>
        </ul>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

  <!-- Form -->
  <div id="myModal" class="modal mymodals">
        <div class="modal-content">
          <h3 id="myModalLabel">Contact me :)</h3>
          <form id='formContact' class="form-horizontal col-sm-12">
            <div class="form-group"><label>Name</label><input required class="form-control required" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text"></div>
            <div class="form-group"><label>Message</label><textarea required class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual"></textarea></div>
            <div class="form-group"><label>E-Mail</label><input required class="form-control email" placeholder="email@you.com (so I can answer you)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text"></div>
            <button id="contactButton" type="submit" class="btn btn-info">Send</button> 
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </form>
        </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- MOBILE -->
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="./assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="./assets/js/navigation.js"></script>
    <script src="./assets/js/enhance_style.js"></script>

  </body>
</html>
